<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - InternLog</title>
</head>
<body>
    <h1>Intern Login</h1>
    <hr>
    <form action="/login" method="POST">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
    <hr>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</body>
</html>